PORT = 8000
MONGODB_URL = mongodb+srv://dbdharmen:<password>@cluster0.bzirl.mongodb.net
CORS_ORIGIN = *

#Token
ACCESS_TOKEN_SECRET = use-your-token
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET = use-your-token-secret
REFRESH_TOKEN_EXPIRY = 10d

#cloudinary
CLOUD_NAME = 
API_KEY = 
API_SECRET = 
CLOUDINARY_URL = 